generated/Urho3D/
generated/ThirdParty/
generated/TacticsVictory/
generated/Tankist/

Demo/out/debug/*.dll
Demo/out/debug/*.exe
Demo/out/release/

Tankist/generated/

TacticsVictory/src/ThirdParty/libevent/build
TacticsVictory/out/debug/*.exe
TacticsVictory/out/debug/*.log
TacticsVictory/out/debug/Autoload/
TacticsVictory/out/debug/CoreData/
TacticsVictory/out/debug/Data/
TacticsVictory/out/debug/log/*.log
TacticsVictory/out/release/
