generated/Urho3D/
generated/ThirdParty/
generated/TacticsVictory/
generated/Tankist/

Demo/out/debug/*.dll
Demo/out/debug/*.exe
Demo/out/release/

Tankist/generated/

TacticsVictory/src/ThirdParty/libevent/build
TacticsVictory/out/debug/*.exe
