generated/debug/
generated/release/

Demo/out/debug/*.dll
Demo/out/debug/*.exe 
Demo/out/release/

Tankist/out/debug/Autoload/
Tankist/out/debug/CoreData/
Tankist/out/debug/Data/
Tankist/out/debug/log/
Tankist/out/release/

TacticsVictory/src/ThirdParty/libevent/build
TacticsVictory/out/debug/*.exe
TacticsVictory/out/debug/*.log
TacticsVictory/out/debug/Autoload/
TacticsVictory/out/debug/CoreData/
TacticsVictory/out/debug/Data/
TacticsVictory/out/debug/log/*.log
TacticsVictory/doc/*~*
TacticsVictory/out/release/
TacticsVictory/out/debug/TVBattle
TacticsVictory/out/debug/TVController
TacticsVictory/out/debug/TVDataBase
TacticsVictory/out/debug/TVLivingRoom
TacticsVictory/out/debug/TVMaster
TacticsVictory/out/debug/TVMonitor
TacticsVictory/out/debug/TVUploader
